/*Utils*/

.bg-header {
    background-color: #202529;
}




#logo {
    max-width: 100%;
    height: 50px;
}

.navbar .nav-link {
    color: white;
}

.bi-pencil-fill:hover {
    background-color: orange;
}

.bi-trash:hover {
    background-color: red;
}